* {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(223, 223, 223);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 10rem;
}

.form-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-input {
    width: 80%;
    margin-bottom: 10px;
    border-radius: 2px;
}

.form-submit {
    margin-top: 5px;
    max-width: 100px;
}


